<component name="ArtifactManager">
  <artifact type="war" name="springmavenmyTemplate:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="maven-Demo01.war">
      <element id="artifact" artifact-name="springmavenmyTemplate:war exploded" />
    </root>
  </artifact>
</component>